.App {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  font-family: 'proxima-nova', Georgia, sans-serif;
  color: #707070;
}

.App-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 25px 20px 25px 20px;
}

.App-header-name {
  background-color: white;
  border: none;
  outline: none;
  color: #707070;
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;
  font-style: italic;
  padding: 0px;
  margin: 0;
  cursor: pointer;
}

.App-header-pages {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.App-header-pages button {
  background-color: white;
  border: none;
  outline: none;
  color: #707070;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

#headerActive:hover {
  border-bottom: 3px solid #A2D7FD;
}

.Link-portfolio a:hover {
  border-bottom:3px solid #A2D7FD;
}

.App-body {
  text-align: left;
  padding: 25px 70px 0px 70px;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: space-between;
}

.App-body p {
  margin: 0;
  font-size: 24px;
}

.App-body h1, h2 {
  margin: 0;
  padding-right: 90px;
}

.App-body h1 {
  font-size: 78px;
}

.App-body h2 {
  font-size: 48px;
}

.App-body-bio {
  padding-bottom: 25px;
}

.App-body-bio-text {
  padding-top: 48px;
  padding-right: 90px;
}

.App-body-bio-hobbies {
  padding: 28px 0px 28px 0px;
}

.App-body-bio-buttons {
  display: flex;
  justify-content: center;
  padding-right: 90px;
}

.Button-work {
  margin-right: 80px;
}

.App-body-bio-buttons a {
  text-align: center;
  text-decoration: none;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: white;
  color: #707070;
  font-size: 24px;
  font-weight: bold;
  padding: 6px 12px;
}

.App-body-bio-buttons a:hover {
  color: white;
  background-color: #A2D7FD;
}

.App-body-pic img {
  max-height: 450px;
}

.App-body-pic-info {
  padding: 12px;
}

#App-body-status {
  font-weight: bold;
}

.App-body-portfolio {
  text-align: left;
  padding: 24px 70px 24px 70px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
}

.App-body-portfolio h2 {
  margin: 0;
  font-size: 48px;
  padding-bottom: 24px;
}

.App-body-portfolio-items {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-gap: 24px 48px;
  grid-template-columns: auto auto;
}

.App-body-portfolio-items input {
  border: 1px solid #707070;
  max-width: 448px;
  outline: none;
}

.App-body-portfolio-items input:hover {
  background-color: rgba(224, 224, 224, 0.25);
}

.App-body-portfolio-items h3 {
  margin: 0;
  font-size: 24px;
  max-width: 450px;
}

.App-body-portfolio-items p {
  margin: 0;
  font-size: 18px;
}

#item-title {
  font-weight: bold;
}
