.App {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  font-family: 'Proxima Nova', Georgia, sans-serif;
}

.App-header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #707070;
  padding: 20px;
}

.App-header p {
  font-size: 54px;
  font-style: italic;
  margin: 0 0 0 0;
}

.App-header-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.App-header-links a {
  color: #707070;
  font-size: 24px;
  text-decoration: none;
}

.Link-about, .Link-portfolio {
  padding: 10px;
}

.Link-about a:hover, .Link-portfolio a:hover{
  border-bottom:3px solid #A2D7FD;
}
